@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

body{
    background-color: antiquewhite;
    margin: 0px;
    font-family: 'Arvo', serif;
}

header{
    background-color: teal;
    height: 30vh;
    border: 0px;
    border-bottom: 20px;
    border-style: solid;
    border-color: rgb(4, 58, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: white;
    text-shadow: 3px 3px 3px rgb(4, 58, 58);
}

body>p{
    margin: 0 auto;
    text-align: right;
    width: 80%;
}

button{
    padding: 10px;
}

.buttonholder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pyterm{
    margin: 8px;
}

.game-container{
    display: flex;
    justify-content: center;
}